@import "../../assets//scss/color-variables";

#offers {
  h3 {
    width: 100%;
    padding: 0 12px;

    span {
      color: $main-purple;
    }
  }

  //   Offer Item
  .offer-item {
    display: flex;
    position: relative;
    min-height: 430px;
    margin-bottom: 96px;

    .left-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h4 {
        font-size: 48px;
        font-weight: 400;
        line-height: 57.6px;
      }

      p {
        max-width: 80%;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
      }
    }

    .right-content {
      height: 430px;
      display: flex;
      flex-direction: column;
      position: absolute;
      gap: 8px;
      right: 0;
      top: 0;
      z-index: -9;

      img {
        width: 100%;
        height: 430px;
        // border-radius: 1rem;
        object-fit: cover;
        object-position: 80% 100%;
      }

      small {
        font-style: italic;
        color: #696969;
        padding-right: 12px;
      }
    }
  }
  // end of Offer Item

  .offer-item:last-child {
    margin-bottom: 0;
  }
}
