#category {
  ul {
    li {
      button {
        color: $gray-600;

        &.active {
          background-color: $purple-surface;
          color: $main-purple;
        }
      }
    }
  }

  .card {
    .card__image {
      height: 180px;
    }
  }
}
