@import "mixins/banner";
@include bsBanner("");

// scss-docs-start import-stack
// Configuration
@import "functions";
@import "variables";
@import "maps";
@import "mixins";
@import "utilities";

// Layout & components
@import "color-variables";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "containers";
@import "container-grid";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "nav";
@import "navbar";
@import "card";
@import "accordion";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "alert";
@import "progress";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "offcanvas";
@import "placeholders";

// Helpers
@import "helpers";

// Utilities
@import "utilities/api";
// scss-docs-end import-stack

// import google font
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@500;600;700&family=Nunito:wght@300;400;500;600&family=Poppins:wght@400;500;600;700&display=swap");
// end of import font

// My CSS
body {
  font-family: Poppins, sans-serif;

  p {
    margin-bottom: 0;
  }
}

.btn-orange {
  background-color: $orange-accent;
  color: white;
}

.brand-icon img {
  height: 39px;
}

section {
  padding: 6rem 0;

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}
// Header
@import "../../components/Header/header";
// end of Header

// Hero
@import "../../components/Hero/hero";
// end of Hero

// Most Chosen Card
@import "../../components/CardProduct/card-product";
// end of Most Chosen Card

// Category
@import "../../components/Categories/categories";
// end of Category

// Testimonials
@import "../../components/Testimonials/testimonials";
// end of Testimonials

// Footer
@import "../../components/Footer/footer"; // end of Footer

// Product Details Page
@import "../../components/ProductActivities/product-details"; // end of Product Details Page

// end of My CSS
