.input-date {
  .date-wrapper {
    height: 36px;
    display: flex;
    gap: 5px;

    & > * {
      height: 100%;
    }

    .img-box {
      background-color: $purple-surface;
      width: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
    }

    input {
      border-radius: 6px;
      border: 1px solid $gray-500;

      &:focus {
        border: 1px solid $gray-500;
      }
    }
  }
}
