@import "../../assets/scss/color-variables";

#category {
  background-color: $gray-200;

  .col {
    align-items: flex-start;
  }

  ul {
    li {
      button {
        color: $gray-600;

        &.active {
          background-color: $purple-surface;
          color: $main-purple;
        }
      }
    }
  }
}
