@import "../../../assets/scss/color-variables";

.detail-description {
  margin-top: 2.25rem;

  .description {
    color: $body;

    h4 {
      margin-bottom: 12px;
    }

    p {
      font-size: 1.125rem;
    }

    .about-place {
      margin-bottom: 52px;
    }

    .feature-offers {
      .feature-offers__feature {
        margin-bottom: 0.75rem;

        span {
          margin-left: 0.75rem;
          color: $gray-700;
        }
      }
    }
  }
}
