@import "../../assets/scss/color-variables";

.booking-preview {
  display: flex;
  flex-direction: column;
  border-right: 1px solid $gray-400;

  .card {
    display: flex;
    flex-direction: column;

    .card__preview {
      height: 324px;
    }
  }
}
