@import "../../../assets/scss/color-variables";

$stepperMain: $main-purple;
$size: 60px;

ol.stepper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: $size;
    height: $size;
    border-radius: $size;
    color: $white;

    &::after {
      position: absolute;
      content: "";
      z-index: 9;
      width: $size;
      height: $size;
      border-radius: $size;
      background-image: url('data:image/svg+xml;utf8,<svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.0486 0.351472C17.5173 0.820101 17.5173 1.5799 17.0486 2.04853L7.44863 11.6485C6.98 12.1172 6.2202 12.1172 5.75157 11.6485L0.951569 6.84853C0.48294 6.3799 0.48294 5.6201 0.951569 5.15147C1.4202 4.68284 2.18 4.68284 2.64863 5.15147L6.6001 9.10294L15.3516 0.351472C15.8202 -0.117157 16.58 -0.117157 17.0486 0.351472Z" fill="white"/></svg>');
      background-position: center;
      background-repeat: no-repeat;
      background-color: $green;
      transform: scale(1);
      transition: 350ms all ease-in-out;
    }

    &:not(:last-child) {
      margin-right: $size;

      &::before {
        content: "";
        z-index: -9;
        top: 50%;
        left: 100%;
        position: absolute;
        width: $size + 10;
        height: 1px;
        background-color: $stepperMain;
      }
    }

    &.active {
      background-color: $stepperMain;
      color: $white;

      &::after {
        z-index: -8;
        background-color: $purple-surface;
        transform: scale(1.2);
      }

      & ~ li {
        color: $main-purple;
        background: $purple-surface;

        &::after {
          content: none;
        }
      }
    }
  }
}
