@import "../../assets/scss/color-variables";

footer {
  padding-top: 1.5rem;
  background-color: #11012d;

  .footer-logo {
    align-items: flex-start;
    font-size: 1rem;

    p {
      color: #c5c5c5;
    }
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      margin-bottom: 12px;

      a,
      span {
        color: #c5c5c5;
      }

      a {
        text-decoration: none;

        &:hover {
          color: $purple-surface;
        }
      }
    }
  }

  h6 {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    color: $white;
  }

  .copyrights {
    font-size: 0.75rem;
    line-height: 14.4px;
    color: #a3a3a3;
    margin-top: 50px;
  }
}
